<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Menu Recursivo</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto" >   
      
      <ng-template #templateRecursivo let-info>
        <li class="nav-item dropdown dropdown-submenu" *ngFor="let item of info; let i = index">
              
          <a class="dropdown-item" [ngClass]="{'dropdown-toggle': item.menus}" href="{{item.url}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.nombre }}
          </a>
          
          <ul *ngIf="item.menus?.length > 0" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            
            
              <li [ngClass]="{'dropdown-submenu': item.menus.length > '0'}" *ngFor="let submenu of item.menus">
              
                <a class="dropdown-item" [ngClass]="{'dropdown-toggle': submenu.menus}" data-toggle=" "  href="#">{{ submenu.nombre }}</a>
                
                <ul class="dropdown-menu" *ngIf="submenu.menus?.length > 0">
                  <ng-container *ngTemplateOutlet="templateRecursivo; context:{ $implicit: submenu.menus }"></ng-container>
                </ul>

              </li>

          </ul>
            
        </li>
      </ng-template>

 
      
      <ng-container *ngTemplateOutlet="templateRecursivo; context:{ $implicit: info }"></ng-container>


    </ul>
  </div>
</nav>
