<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    
  
    <ng-container *ngTemplateOutlet="templateRecursive; context:{ $implicit: infoMenuService.info.menusroots }"></ng-container>
      
    
    <ul class="navbar-nav mr-auto">       
      <ng-template #templateRecursive >

        <li class="nav-item dropdown" *ngFor="let item of infoMenuService.info.menusroots">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.nombre }}
          </a>

          <ul *ngIf="item.menus" class="dropdown-menu">
              <ng-container *ngTemplateOutlet="templateRecursive; context:{ $implicit: item.menus }"></ng-container>
            
          </ul>
        </li>        

      </ng-template>  
    </ul>




      
  </nav>
